.content-item{
	
	width: 68%;
	/*float: left;*/
	margin: 0 auto;
	padding: 0;
}
.content-item .left{
	float: left;padding: 0;
}
.content-item .left .detail-prod{
	background-color: white;
	margin-right: 15px;
	float: left;
	padding: 30px;
	
	min-height: 335px;
	min-width: 455px;
}
.content-item .left .detail-prod p{
	color: #919191;
	font-size: 12px;
	font-family: 'Century Gothic';
	text-align: justify;
}
.content-item >.right{
	padding: 0;
	float: left;
}
.content-item .right .detail-title{
	  width: 100%;
	  background-color: #919191;
	  float: left;
	  /* padding: 35px; */
	  text-align: center;
	  vertical-align: middle;
	  padding: 30px 20px 0 20px;
	  max-width: 150px;
	  min-height: 135px;
}
.content-item .right .detail-title p{
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Century Gothic';
}

/* content-item-categories*/
.product-item-categories{
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
  	padding-bottom: 20px;
}
.product-item-categories:last-child{
	border-bottom: none;
}
.product-item-categories .product-item-categories-title{
	height: 40px;
	width: 100%;
}
.r-title{
	float: left;
	
	
}
.product-item-categories-title p.r-title{
	color: #86754d !important;
	font-size: 14px !important;
	text-transform: uppercase;
	font-weight: normal;
}
.r-icon img{
	max-width: 30px;
	max-height: 30px;
	float: right;
}
.product-item-categories-introtext p{
	color: #919191;
	font-size: 12px;
	font-family: 'Century Gothic';

}

@media (min-width:768px) and (max-width:959px) {
   .content-item {
	  width: 83%;
	  margin: 0 auto;
	  padding: 0;
	}
	.content-item >.right {
	  padding-left: 15px;
	}
}

@media (min-width:480px) and (max-width: 767px){
     .content-item {
	  width: 100%;
	  margin: 0 auto;
	  padding: 0;
	}
	.content-item .left .detail-prod {
	  background-color: white;
	  margin-right: 15px;
	  float: left;
	  padding: 30px;
	  min-height: 335px;
	  min-width: 97%;
	}
	.content-item .right .detail-title p {
	  color: #ffffff;
	  font-size: 15px;
	  font-weight: bold;
	  text-transform: uppercase;
	  font-family: 'Century Gothic';
	}
}

@media (min-width:320px) and (max-width: 479px){
 	.content-item {
	  width: 100%;
	  margin: 0 auto;
	  padding: 0;
	}
	.content-item .col-xs-9 ,.content-item .col-xs-3{
		width: 100%;
	}
	.content-item .left .detail-prod {
	  background-color: white;
	  margin-right: 15px;
	  float: left;
	  padding: 30px;
	  min-height: 335px;
	   min-width: 100%; 
	}
}

